
*.lck

*.vpp-journal

*.bak_000f

*.bak_001d

*.bak_002d

*.bak_003d

*.bak_004d

*.bak_000d

Lab 1\.1/Lab1\.1\.vpp\.bak_001f

Lab 1\.1/Lab1\.1\.vpp\.bak_005d

Lab 1\.1/Lab1\.1\.vpp\.bak_006d

Lab 1\.2/Lab1/\.idea/

Lab 1\.2/Lab1/cmake-build-debug/

*.bak_005d

Lab 1\.2/After/Lab1/\.idea/

Lab 1\.2/Before/Lab1/cmake-build-debug/

Lab 1\.2/After/Lab1/cmake-build-debug/

Lab 1\.2/Before/Lab1/\.idea/

*.bak_001f

*.bak_012d

*.bak_011d

Lab 1\.2/Before/Lab1\.2\.vpp\.bak_007d

Lab 1\.2/Before/Lab1\.2\.vpp\.bak_008d

Lab 1\.2/Before/Lab1\.2\.vpp\.bak_009d

Lab 1\.2/Before/Lab1\.2\.vpp\.bak_010d

*.bak_006d

*.bak_013d

*.bak_014d

*.bak_015d

*.bak_016d
